@using QuanLySinhVien.Webs.Models.Identity
@model LoginViewModel

@{
    Layout = null;
    ViewBag.Title = "Đăng nhập";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Đăng nhập | Hệ thống KTX DThU</title>

    <!-- Custom fonts for this template-->
    <link href="~/Assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Assets/css/sb-admin-2.min.css" rel="stylesheet">


</head>


<body>

    <div class="bg-text">
        <div class="container">
            <!-- Outer Row -->
            <div class="row justify-content-center">

                <div class="col-xl-10 col-lg-12 col-md-9">

                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row body1">
                                <div class="col-lg-6 d-none d-lg-block bg-login-image">
                                    <img class="logotruong" src="~/Assets/img/Đại_học_Đồng_Tháp.png" />
                                    <h2>Hướng dẫn</h2>
                                    <ul class="tutorial">
                                        <li>Bước 1: Đăng ký tài khoản</li>
                                        <li>Bước 2: Đăng ký đơn ở KTX</li>
                                        <li>Bước 3: Chờ phê duyệt</li>
                                        <li>Bước 4: Hoàn thành</li>
                                    </ul>

                                </div>
                                <div class="col-lg-6">
                                    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @id = "sign_in" }))

                                    {
                                        <div class="p-5">
                                            @Html.AntiForgeryToken()
                                            @Html.ValidationMessage("CustomError", new { @class = "col-pink" })
                                            @Html.ValidationSummary(true, "", new { @class = "col-pink" })
                                            <div class="text-center">
                                                <h1 class="h4 text-gray-900 mb-4">Hệ thống quản lý Ký Túc Xá Đại học Đồng Tháp</h1>
                                            </div>
                                            <form class="user">
                                                <div class="form-group">

                                                    @Html.TextBoxFor(m => m.Email, new { @type = "email", @class = "form-control", @autofocus = "autofocus", @placeholder = "Nhập email..." })
                                                </div>
                                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "col-pink" })
                                                <div class="form-group">
                                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Mật khẩu" })
                                                </div>
                                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "col-pink" })

                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox small">
                                                        <input type="checkbox" class="custom-control-input" id="customCheck">
                                                        <label class="custom-control-label" for="customCheck">
                                                            Nhớ mật khẩu
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <button class="btn btn-primary btn-user btn-block" type="submit">Đăng nhập</button>
                                                </div>


                                            </form>
                                            <hr>
                                            <div class="text-center">
                                                <div class="col-xs-6">
                                                    <a class="small" href="/Account/Register">Đăng ký tài khoản!    </a>
                                                </div>
                                                <br />
                                                <div class="col-xs-6 align-right">
                                                    <a class="small" href="/Account/ForgotPassword">Quên mật khẩu?</a>
                                                </div>
                                            </div>
                                        </div>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
    <div class="bg-img"></div>


    <!-- Bootstrap core JavaScript-->
    <script src="~/Assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Assets/js/sb-admin-2.min.js"></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.js"></script>

</body>

</html>
