
@using QuanLySinhVien.Webs.Models.Identity;

@{
    var aspNetUser = (ApplicationUser)Session[QuanLySinhVien.Common.CommonConstants.USER_SESSION];
}
@{
    ViewBag.Title = "Trang thông tin cá nhân";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section jsFooter{

    <script src="~/Assets/template/js/controllers/profileController.js"></script>
    <script>
        $('#btnChangeImage').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $("#Avatar").attr('src', url);
                $("#txtAvatarUrl").val(url);
            };
            finder.popup();
        });
    </script>

}
<style>
    #Avatar {
        max-width: 250px;
    }

    .userProfile li {
        list-style-type: none;
        padding: 15px 0px;
        border-bottom: 1px solid #ededed;
        font-size: 1.2em;
    }

    .Avatar {
        width: 215px;
        height: 215px;
        box-shadow: 0px -1px 6px 3px gainsboro;
    }

    .btn-success {
        margin: 10px 55px;
    }

    a#changePassword {
        margin-top: 20px;
        margin-bottom: 0px;
        display: block;
    }

    .Avatar-Container {
        position: relative;
        display: block;
    }

    #btnChangeImage {
        position: absolute;
        top: 72%;
        left: 0%;
        z-index: 2;
        background-color: rgba(255, 255, 255, 0.5);
        border: none;
    }

    #btnUpload {
        position: absolute;
        top: 50%;
        left: 40%;
        z-index: 2;
        background-color: none;
        border: none;
    }

    #btnChangeImage:hover .fa-refresh {
        transform: rotate(360deg);
        transition: 1s;
    }
</style>
<div class="row ">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Thông tin tài khoản</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-lg-4">
                    <div class="Avatar-Container">
                        <img class="img-circle " id="Avatar"
                             src="@aspNetUser.Avatar"
                             alt="@aspNetUser.UserName">

                        <a href="#" class="btn btn-default waves-effect" id="btnChangeImage"><i class="material-icons">add_a_photo</i></a>
                    
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-8">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3><strong>@aspNetUser.UserName</strong></h3>
                        </div>

                    </div>
                    <hr />
                    <ul class="userProfile">
                        <input type="hidden" id="txtID" value="@aspNetUser.Id" />
                        <li><strong>Tên người dùng: </strong> @aspNetUser.FullName</li>
                        <li><strong>Ngày sinh : </strong> @(aspNetUser.BirthDay==null?"Non":aspNetUser.BirthDay.ToString())</li>
                        <li><strong>Tên tài khoản: </strong> @aspNetUser.UserName</li>

                        <li><strong>Email: </strong>@aspNetUser.Email</li>

                        <li><strong>Điện thoại: </strong>@(aspNetUser.PhoneNumber == null ? "Không có" : aspNetUser.PhoneNumber)</li>

                        <li><strong>Địa chỉ: </strong>@aspNetUser.Address</li>

                    </ul>
                </div>

            </div>
        </div>
        <div class="panel-footer">
            <a href="#" id="btnBack" class="btn btn-primary"><i class="material-icons">arrow_back</i></a>
            <a href="#" id="btnEdit" data-id="@aspNetUser.Id" class="btn btn-default"><i class="material-icons">edit</i></a>
        </div>
    </div>
</div>

<div class="modal fade" id="modalProfile" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <span id="modal-title">Chỉnh sửa thông tin tài khoản</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body">
                <form role="form" id="frmSaveData">
                    <input type="hidden" id="txtId">
                    <div class="form-group">
                        <input type="hidden"  value="" id="txtAvatarUrl" />
                        <div class="form-line">
                            <label for="Name">Tên đầy đủ</label>
                            <input type="text" required class="form-control" name="Name" id="txtName">

                        </div>
                        <span class="validate col-pink"></span>
                    </div>

                    <div class="form-group">
                        <div class="form-line">
                            <label for="BirthDay">Ngày sinh</label>
                            <input type="date" required name="BirthDay" class="datepicker form-control" id="txtBirthDay">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-line">
                            <label for="Gender">Giới tính</label>
                            <br />
                            <input name="Gender" checked type="radio" id="Nam" value="1" />
                            <label for="Nam">Nam</label>
                            <input name="Gender" type="radio" value="0" id="Nu" />
                            <label for="Nu">Nữ</label>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-line">
                            <label for="Address">Địa chỉ</label>
                            <input type="text" class="form-control" name="Address" id="txtAddress">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-line">
                            <label for="EMail">E-mail</label>
                            <input type="email" required class="form-control" name="Email" id="txtEmail">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-line">
                            <label for="PhoneNumber">Số điện thoại</label>
                            <input type="tel" class="form-control" name="PhoneNumber" id="txtPhoneNumber">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" id="btnSave">Cập nhật</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalChangePassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <span id="user-title">Đổi mật khẩu</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h5>
            </div>
            <div class="modal-body">
                <form role="form" class="frmSavePass">
                    <div class="form-group">
                        <div class="form-line">
                            <label for="txtPassword">Mật khẩu hiện tại</label>
                            <input type="password" class="form-control" name="CurrentPassword" id="txtCurrentPassword">
                        </div>
                            <span class="validate"></span>
                    </div>
                    <div class="form-group">
                        <div class="form-line">
                            <label for="txtNewPassword">Mật khẩu mới</label>
                            <input type="password" class="form-control" name="NewPassword" id="txtNewPassword">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-line">
                            <label for="txtCofirmPassword">Xác nhận mật khẩu</label>
                            <input type="password" class="form-control" name="ConfirmPassword" id="txtCofirmPassword">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" id="btnSavePass">Lưu thay đổi</button>
            </div>
        </div>
    </div>
</div>
