
@{
    ViewBag.Title = "Quản lý người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section jsFooter{
    <script>
        $(document).ready(function () {
            $('.js-example-basic-single').select2();
        });
    </script>
}
<div class="alert alert-info align-center">
    Quản lý quyền người dùng
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">


                <p>
                    <a href="/Role/Index" class="btn btn-primary wave-effect"><i class="material-icons">format_list_bulleted</i> Danh sách quyền</a>
                </p>

            </div>
            <div class="body">
                <h2>Cấp quyền cho người dùng</h2>
                <br />

                @using (Html.BeginForm("RoleAddToUser", "Role"))
                {

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    if (ViewBag.ResultMessage != null)
                    {
                        <div class="alert bg-light-blue alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                            @ViewBag.AddMessage
                        </div>

                    }

                    <div class="form-group">

                        <label>Tên tài khoản</label>

                        @Html.DropDownList("UserName", (IEnumerable<SelectListItem>)ViewBag.UserName, "Chọn tài khoản...", new { @class = "form-control js-example-basic-single", @required = "true" })


                    </div>

                    <div class="form-group">

                        <label>
                            Tên quyền
                        </label>
                        @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Chọn quyền...", new { @class = "form-control js-example-basic-single", @required = "true" })

                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-2 m-t-25">
                        <input type="submit" value="Lưu lại" class="btn btn-primary" />
                    </div>
                    <div class="clearfix"></div>


                }

                <hr />
                <h3>Xem quyền theo tài khoản</h3>

                <br />
                @using (Html.BeginForm("GetRoles", "Role"))
                {
                    @Html.AntiForgeryToken()

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                        <div class="form-group">
                            <div class="">
                                <label>Tên tài khoản</label>
                                @Html.DropDownList("UserName", (IEnumerable<SelectListItem>)ViewBag.userName, "Chọn tài khoản...", new { @class = "form-control js-example-basic-single", @required = "true" })
                            </div>

                        </div>

                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-2 m-t-25">
                        <input type="submit" name="name" value="Xem quyền" class="btn btn-primary" />
                    </div>
                    <div class="clearfix"></div>


                }
                @if (ViewBag.RolesForThisUser != null)
                {
                    <ul class="list-group">
                        @foreach (var role in ViewBag.RolesForThisUser)
                        {
                            <button type="button" class="list-group-item bg-deep-purple"><b>@role</b></button>
                        }
                    </ul>
                }

                <hr />

                <h3>Hủy cấp quyền người dùng</h3>
                <br />
                @using (Html.BeginForm("DeleteRoleForUser", "Role"))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    if (ViewBag.DeleteMessage != null)
                    {
                        <div class="alert bg-light-blue alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                            @ViewBag.DeleteMessage
                        </div>

                    }
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                        <div class="form-group">
                            <div class="">
                                <label>Tên tài khoản</label>
                                @Html.DropDownList("UserName", (IEnumerable<SelectListItem>)ViewBag.UserName, "Chọn tài khoản...", new { @class = "form-control js-example-basic-single", @required = "true" })
                            </div>

                        </div>

                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4">
                        <div class="form-group">
                            <div class="">
                                <label>
                                    Tên quyền
                                </label>
                                @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Chọn quyền...", new { @class = "form-control js-example-basic-single", @required = "true" })
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-2 m-t-25">
                        <input type="submit" value="Hủy quyền" class="btn btn-primary" />
                    </div>
                    <div class="clearfix"></div>

                }

            </div>
        </div>
    </div>
</div>